{% extends "layout.html" %}

{% block body %}

    <form method="POST" action="{{ url_for('items_change_price', item_id=item.id) }}">
        <div class="form-group">
            <label>Nimi</label>
            <input type="text" readonly class="form-control" value="{{ item.name }}">
        </div>
        <div class="form-group">
            <label>Uusi hinta (sentteinä)</label>
            <input type="number" class="form-control" name="new_price">
        </div>
        <button type="submit" class="btn btn-primary">Muuta</button>
    </form>

{% endblock %}
