{% extends "layout.html" %}

{% block template %}
    <h1>Tuotteet</h1>
    <form class="form-inline pull-right" method="POST" action="{{ url_for('items_find') }}">
        {{ wtf.form_field(form.name, placeholder="Tuotteen nimi") }}
        <button type="submit" class="btn btn-primary btn-sm">Hae</button>
    </form>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nimi</th>
            <th>Hinta (€)</th>
            <th>Varastossa</th>
            {% if current_user.role == "ADMIN" %}
                <th>Tilauskynnys</th>
            {% endif %}
            <th>Lisätty</th>
            <th style="width: 1%"></th>
            {% if current_user.is_authenticated %}
                <th style="width: 1%"></th>
                <th style="width: 1%"></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for item in items.items %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.get_price_in_euros() }}</td>
                <td>{{ item.stock }}</td>
                {% if current_user.role == "ADMIN" %}
                    <td>{{ item.threshold }}</td>
                {% endif %}
                <td>{{ item.get_date_created_no_millis() }}</td>
                <td>
                    <form action="{{ url_for('items_view', item_id=item.id) }}">
                        <button type="submit" class="btn btn-primary btn-sm">Näytä</button>
                    </form>
                </td>
                {% if current_user.is_authenticated and current_user.role == "ADMIN" %}
                    <td>
                        <form action="{{ url_for('items_edit_form', item_id=item.id) }}">
                            <button type="submit" class="btn btn-primary btn-sm">Muokkaa</button>
                        </form>
                    </td>
                    <td>
                        <form action="{{ url_for('items_delete', item_id=item.id) }}">
                            <button type="submit" class="btn btn-primary btn-sm">Poista</button>
                        </form>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if query is defined %}
        {{ render_pagination(items, args={"query":query}) }}
    {% else %}
        {{ render_pagination(items) }}
    {% endif %}
{% endblock %}
