{% extends "layout.html" %}

{% block body %}

    <form class="form-inline mb-3" method="POST" action="{{ url_for('items_find') }}">
        <input class="form-control mr-3" type="text" placeholder="Tuotteen nimi" name="query">
        <button type="submit" class="btn btn-primary">Etsi</button>
    </form>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Nimi</th>
            <th scope="col">Hinta</th>
            <th scope="col" style="width: 5%"></th>
            <th scope="col" style="width: 5%"></th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.price }}</td>
                <td>
                    <form action="{{ url_for('items_edit_form', item_id=item.id) }}">
                        <button type="submit" class="btn btn-primary btn-sm">Muokkaa</button>
                    </form>
                </td>
                <td>
                    <form action="{{ url_for('items_delete', item_id=item.id) }}">
                        <button type="submit" class="btn btn-primary btn-sm">Poista</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
