{% extends "layout.html" %}

{% block body %}

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Nimi</th>
            <th scope="col">Hinta</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.price }}</td>
                <td>
                    <form action="{{ url_for('items_change_price_form', item_id=item.id) }}">
                        <button type="submit" class="btn btn-primary btn-sm">Muuta hintaa</button>
                    </form>
                </td>
                <td>
                    <form action="{{ url_for('items_delete', item_id=item.id) }}">
                        <button type="submit" class="btn btn-primary btn-sm">Poista</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
