{% extends "layout.html" %}

{% block template %}
    <form class="form-inline" method="POST" action="{{ url_for('items_find') }}">
        {{ wtf.form_field(form.query, placeholder="Tuotteen nimi") }}
        <button type="submit" class="btn btn-primary">Etsi</button>
    </form>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Nimi</th>
            <th>Hinta</th>
            <th style="width: 5%"></th>
            <th style="width: 5%"></th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.price }}</td>
                <td>
                    <form action="{{ url_for('items_edit_form', item_id=item.item_id) }}">
                        <button type="submit" class="btn btn-primary btn-sm">Muokkaa</button>
                    </form>
                </td>
                <td>
                    <form action="{{ url_for('items_delete', item_id=item.item_id) }}">
                        <button type="submit" class="btn btn-primary btn-sm">Poista</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
