{% extends "layout.html" %}

{% block template %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Nimi</th>
            <th>Hinta (€)</th>
            <th>Lisätty</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.get_price_in_euros() }}</td>
            <td>{{ item.get_date_created_no_millis() }}</td>
        </tr>
        </tbody>
    </table>
    {% if current_user.is_authenticated and current_user.role == "CUSTOMER" %}
        <form method="POST" action="{{ url_for('user_items_create', item_id=item.id) }}">
            {{ wtf.form_field(form.quantity, type="number") }}
            <button type="submit" class="btn btn-primary">Lisää koriin</button>
        </form>
    {% endif %}
{% endblock %}

