{% extends "layout.html" %}

{% block template %}
    <h1>Omat tilaukset</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Tuotteen nimi</th>
            <th>Määrä</th>
            <th>Tilattu</th>
        </tr>
        </thead>
        <tbody>
        {% for user_item in user_items.items %}
            <tr>
                <td>{{ user_item.item.name }}</td>
                <td>{{ user_item.quantity }}</td>
                <td>{{ user_item.get_date_modified_no_millis() }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ render_pagination(user_items) }}
{% endblock %}
