{% extends "layout.html" %}

{% block template %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Tuotteen nimi</th>
            <th>Hinta (sentteinä)</th>
            <th>Määrä</th>
            <th>Tilattu</th>
        </tr>
        </thead>
        <tbody>
        {% for user_item in user_items %}
            <tr>
                <td>{{ user_item.item.name }}</td>
                <td>{{ user_item.item.price }}</td>
                <td>{{ user_item.quantity }}</td>
                <td>{{ user_item.date_ordered }}</td>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
