{% extends "layout.html" %}

{% block template %}
    <h1>Käyttäjät</h1>
    <form class="form-inline pull-right" method="POST" action="{{ url_for('auth_find') }}">
        {{ wtf.form_field(form.username, placeholder="Käyttäjänimi") }}
        <button type="submit" class="btn btn-primary btn-sm">Hae</button>
    </form>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Käyttäjänimi</th>
            <th>Rooli</th>
            <th>Rekisteröitynyt</th>
            <th style="width: 1%"></th>
            <th style="width: 1%"></th>
            <th style="width: 1%"></th>
        </tr>
        </thead>
        <tbody>
        {% for user in users.items %}
            <tr>
                <td>{{ user.username }}</td>
                <td>
                    {% if user.role == "ADMIN" %}
                        Ylläpitäjä
                    {% else %}
                        Asiakas
                    {% endif %}
                </td>
                <td>{{ user.get_date_created_no_millis() }}</td>
                <td>
                    <form action="{{ url_for('auth_view', user_id=user.id) }}">
                        <button type="submit" class="btn btn-primary btn-sm">Näytä</button>
                    </form>
                </td>
                <td>
                    <form action="{{ url_for('auth_edit_form') }}">
                        {% if user.id == current_user.id %}
                            <button type="submit" class="btn btn-primary btn-sm">Muokkaa</button>
                        {% else %}
                            <button type="submit" class="btn btn-primary btn-sm invisible">Muokkaa</button>
                        {% endif %}
                    </form>
                </td>
                <td>
                    <form action="{{ url_for('auth_delete', user_id=user.id) }}">
                        {% if user.role == "CUSTOMER" %}
                            <button type="submit" class="btn btn-primary btn-sm">Poista</button>
                        {% else %}
                            <button type="submit" class="btn btn-primary btn-sm invisible">Poista</button>
                        {% endif %}
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if query is defined %}
        {{ render_pagination(users, args={"query":query}) }}
    {% else %}
        {{ render_pagination(users) }}
    {% endif %}
{% endblock %}
