{% extends "layout.html" %}

{% block template %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Käyttäjänimi</th>
            <th>Rekisteröitynyt</th>
            <th style="width: 1%"></th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.get_date_created_no_millis() }}</td>
                <td>
                    {% if user.role == "CUSTOMER" %}
                        <form action="{{ url_for('auth_delete', user_id=user.id) }}">
                            <button type="submit" class="btn btn-primary btn-sm">Poista</button>
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
