{% extends "layout.html" %}

{% block template %}
    {% if current_user.role == "ADMIN" %}
        <h1>Maksamattomat laskut</h1>
    {% else %}
        <h1>Omat maksamattomat laskut</h1>
    {% endif %}
    {% if current_user.role == "ADMIN" %}
        <form class="form-inline pull-right" method="POST" action="{{ url_for('invoices_find') }}">
            {{ wtf.form_field(form.username, placeholder="Käyttäjänimi") }}
            <button type="submit" class="btn btn-primary btn-sm">Hae</button>
        </form>
    {% endif %}
    <table class="table table-striped">
        <thead>
        <tr>
            {% if current_user.role == "ADMIN" %}
                <th>Käyttäjänimi</th>
            {% endif %}
            <th>Yhteensä</th>
            <th>Päiväys</th>
            <th>Erääntyy</th>
            <th style="width: 1%"></th>
        </tr>
        </thead>
        <tbody>
        {% for invoice in invoices.items %}
            <tr>
                {% if current_user.role == "ADMIN" %}
                    <td>{{ invoice.user.username }}</td>
                {% endif %}
                <td>{{ invoice.get_total_in_euros() }}</td>
                <td>{{ invoice.get_date_created_no_millis() }}</td>
                <td>{{ invoice.get_expiration_date_no_millis() }}</td>
                <td>
                    {% if current_user.role == "CUSTOMER" %}
                        <form action="{{ url_for('invoices_pay', invoice_id=invoice.id) }}">
                            {% if invoice.is_reminder() %}
                                <button type="submit" class="btn btn-warning btn-sm">Maksa karhu</button>
                            {% else %}
                                <button type="submit" class="btn btn-primary btn-sm">Maksa</button>
                            {% endif %}
                        </form>
                    {% elif invoice.is_expired() %}
                        <form action="{{ url_for('invoices_reminder', invoice_id=invoice.id) }}">
                            {% if invoice.is_reminder() %}
                                <button type="submit" class="btn btn-success btn-sm" disabled="disabled">Luo karhu
                                </button>
                            {% else %}
                                <button type="submit" class="btn btn-primary btn-sm">Luo karhu</button>
                            {% endif %}
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if query is defined %}
        {{ render_pagination(invoices, args={"query":query}) }}
    {% else %}
        {{ render_pagination(invoices) }}
    {% endif %}
{% endblock %}
